<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue JS</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
        .box{
            
            padding: 50px 0;
            width: 100px;
            text-align: center;
            background: rgb(147, 168, 206);
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Hello Monkeys!</h1>

    <div id="app-1">
       
    </div>
     <!-- App body -->
    <div id="app">

        <h3>Counter:  - {{ counter }} </h3>
        <button v-on:click="counter++">Add value</button>
        <button v-on:click="counter--">Decrease value</button>
     
        <div @click="changeTitle('Book title')">Think again!</div>
        <hr>

        <h1> Hero action Plan: </h1>
        <div v-if="showBooks">            
            <p> {{ title }} </p>
            <p> {{ author }} </p>
            <p> {{ created_at }} </p>
        </div>
        <button @click="toggleShowBooks">
            <span  v-if="showBooks"> Hide Books </span>
            <span  v-if="!showBooks"> Show Books </span>
        </button>

        <button @click="toggleShowBooks">
            <span  v-if="showBooks"> Hide Books2 </span>
            <span  v-else> Show Books2 </span>
        </button>

        <div v-show="!showBooks">currently showing data</div>
        <hr>
       
       <!-- Mouse events -->
       <div class="box" @mouseover="handleEvent($event, 5)"> mouseover </div>
       <div class="box" @mouseleave="handleEvent"> mouseleave</div>
       <div class="box" @dblclick="handleEvent"> double click </div>
       <div class="box" @mousemove="handleMouseMove"> {{x}} : {{y}}</div>

    </div> 
     <!-- End -->

    

    

</body>
<script src="app.js"></script>

</html>